@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
	margin: 0;
	background: #323256;
}

.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image img{
	width: 150px;
	height: 150px;
	border-radius: 1000px;
	margin-top: 7px;
}

.Informations h3 {
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 'bold';
	color: white;
	margin-left: 6px;
}

.Informations i{
	color: #FBD285;
	margin-left: 22px;
}

.Informations p {
	font-size: 10px;
	margin-left: 13px;
	margin-bottom: 1px;
	color: #DCDCDC;
}

.players button {
	border: none;
	background: white;
	border-radius: 90%;
	height: 30px;
	padding: 10px auto;
	outline: none;
}


.players i {
	color: #323256;
}


.players button:hover {
	background: orange;
}

@media(max-width: 700px){
	.grid{
		width: 100%;
    	flex-direction: column;
	}

	.image img{
		width: 400px;
		height: 400px;
		margin-top: 70px;
	}

	.Informations h3 {
		font-size: 27px;
	}

	.Informations i{
		margin-left: 80px;
		font-size: 50px;
	}

	.Informations p {
		font-size: 20px;
		margin-left: 50px;
	}
}